<?php

define('DB_HOST', 'DATABASE HOST');
define('DB_USER', 'DATABASE USER');
define('DB_NAME', 'DATABASE NAME');
define('DB_PASSWORD', 'DATABASE PASSWORD');
define('PRIVATE_KEY_PATH', 'PATH TO PRIVATE KEY');