{% extends "layout.html" %}

{% block content %}
  <h1>Donors Page</h1>

  <ul class="nav nav-tabs">
    <li class="active"><a href="/admin/donors">Single Donors</a></li>
    <li><a href="/admin/donors/subscribers">Subscription Donors</a></li>
  </ul>

  <h2>Single Payment Donors</h2>
  <p>These are all the subscription donors which operated through Bank Transfer, not credit card (which can be ssen on <a href="https://dashboard.stripe.com/">Stripe</a>).</p>

  <table class="table">
    <thead>
      <tr>
        <th>firstname</th>
        <th>lastname</th>
        <th>created</th>
        <th>document</th>
        <th>bankCCC</th>
        <th>bankIBAN</th>
        <th>bankBIC</th>
        <th>€</th>
      </tr>
    </thead>
    <tbody>
      {% for item in list %}
      <tr>
        <td>{{ item.firstname }}</td>
        <td>{{ item.lastname }}</td>
        <td>{{ item.created }}</td>
        <td>{{ item.documentType }}: {{ item.documentID }}</td>
        <td>{{ item.bankCCC }}</td>
        <td>{{ item.bankIBAN }}</td>
        <td>{{ item.bankBIC }}</td>
        <td>{{ item.money }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

{% endblock %}