{% extends "layout.html" %}

{% block content %}
  <h1>Donors Page</h1>

  <ul class="nav nav-tabs">
    <li><a href="/donors">Single Donors</a></li>
    <li><a href="/donors/subscribers">Subscription Donors</a></li>
  </ul>

  <h2>{{ detail.firstname }} {{ detail.lastname }}</h2>
  <a href="/donors"><span class="glyphicon glyphicon-chevron-left"></span>Back to list</a>

  <dl>
    <dt>firstname</dt>
    <dd>{{ detail.firstname }}</dd>

    <dt>lastname</dt>
    <dd>{{ detail.lastname }}</dd>

    {% if detail.money is defined %}
    <dt>payment</dt>
    <dd>{{ detail.money }} €</dd>
    {% endif %}
    {% if detail.planID is defined %}
    <dt>planID</dt>
    <dd>{{ detail.planID }} €</dd>
    {% endif %}

    <dt>created</dt>
    <dd>{{ detail.created }}</dd>

    <dt>email</dt>
    <dd>{{ detail.email }}</dd>

    <dt>telephone</dt>
    <dd>{{ detail.telephone }}</dd>

    <dt>document</dt>
    <dd>{{ detail.documentType }}: {{ detail.documentID }}</dd>

    <dt>birthDate</dt>
    <dd>{{ detail.birthDate }}</dd>

    <dt>addressCountry</dt>
    <dd>{{ detail.addressCountry }}</dd>

    <dt>addressLine1</dt>
    <dd>{{ detail.addressLine1 }}</dd>

    <dt>addressCity</dt>
    <dd>{{ detail.addressCity }}</dd>

    <dt>addressState</dt>
    <dd>{{ detail.addressState }}</dd>

    <dt>addressZip</dt>
    <dd>{{ detail.addressZip }}</dd>

    <dt>bankCCC</dt>
    <dd>{{ detail.bankCCC }}</dd>

    <dt>bankIBAN</dt>
    <dd>{{ detail.bankIBAN }}</dd>

    <dt>bankBIC</dt>
    <dd>{{ detail.bankBIC }}</dd>
  </dl>

{% endblock %}